<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/faq.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <title>
        Sıkça Sorulan Sorular Sayfası
    </title>
</head>


<body >
    <div class="faq_area section_padding_130" id="faq">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Ana Başlık-->
                    <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h3>Sıkça Sorulan Sorular</h3>
                        <p>ISUBÜ Bilgisayar Mühendisliği yazılım, donanım ve iş yeri eğitimi ile ilgili en çok sorulan sorular aşağıda verilmiştir.</p>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- SSS Area-->
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="accordion faq-accordian" id="faqAccordion">

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingOne">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Staj yapacağım iş yeri staj kriterlerimize uygun mu?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Bilgisayar Mühendisliği Staj Uygulama Esasları” dokümanında staj yapılacak yerlerin
                                        özelliklerinin neler olması gerektiği yazmaktadır. Dolayısıyla iş yerinin staj kriterlerine
                                        uygun olup olmadığı öğrencinin sorumluluğundadır. Staj raporundan yapılan stajın
                                        uygun olmadığı tespit edilirse stajınız kısmen veya tamamen iptal edilebilir.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingTwo">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Staj başvurusu ne zaman onaylanır? <span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Staj başvuruları 3 iş günü içerisinde değerlendirilmek ve e-posta ile geri dönüş
                                        yapılmaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingThree">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Yarıyıl tatilinde staj yapabilir miyim? <span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Final ve bütünleme sınavları ile çakışmaması, stajın bölünmemesi koşulu ile ve en geç
                                        bahar yarıyılının ilk gününden önce bitmiş olmak üzere staj yapabilirsiniz. Bu stajlar
                                        genellikle daha önce yaptığınız ve kabul edilmeyen günleri tamamlamak için yapılır.
                                        Eğer bahar döneminde ders almıyorsanız veya aldığınız derslerin devam mecburiyeti
                                        yok ise bütünleme sınavlarından sonra hiç başlamadığınız stajınızı ara tatil ve bahar
                                        dönemi süresince de yapabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingfour">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour"> 1. stajımdan 5 gün sayılmamıştı. Bu 5 günü final sınavları ile bütünleme sınavları arasındaki sürede yapabilir miyim?<span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapsefour" aria-labelledby="headingfour" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Hayır yapamazsınız. Gün sayısı az olan stajlarınızı 2. staja ekleyerek yapmalısınız.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingfive">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive"> 2. stajımdan 15 gün sayılmamıştı. Bu 15 günün 5 gününü final sınavları ile bütünleme sınavları arasında, kalan 10 günü bütünleme sınavlarından sonra yapabilir miyim? <span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapsefive" aria-labelledby="headingfive" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Hayır yapamazsınız. Stajın bölünmesine izin verilmemektedir.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingsix">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="true" aria-controls="collapsesix">1. sınıfın sonrası staj yapabilir miyim?  <span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapsesix" aria-labelledby="headingsix" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Hayır yapamazsınız. En erken 4. yarıyıldan sonra yapabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingseven">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="true" aria-controls="collapseseven">Bütünleme sınavına kalmayacağımı düşünüyorum. Stajım bütünleme sınavlarıile aynı tarihte yapabilir miyim? <span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapseseven" aria-labelledby="headingseven" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Başvuracağınız dönemde ders almıyorsanız final ve bütünleme sınavlarının olduğu
                                        tarihlerde de staj yapabilirsiniz. Sadece işyeri eğitimi dersini alıyorsanız final
                                        sınavlarından sonra yani bütünleme sınavları esnasında da staj yapabilirsiniz. Bu
                                        durumlar haricinde ilgili olduğunuz herhangi bir sınav var iken staj yapamazsınız.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingeigth">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseeigth" aria-expanded="true" aria-controls="collapseeigth">1 ve 2. stajımı aynı yerde yapabilir miyim?  <span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapseeigth" aria-labelledby="headingeigth" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        1. ve 2. stajın konuları farklı olmak koşulu ile aynı firmada staj yapabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingnine">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsenine" aria-expanded="true" aria-controls="collapsenine"> İşyeri eğitimi ile stajımı birleştirebilir miyim?<span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapsenine" aria-labelledby="headingnine" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Evet işyeri eğitimi ile herhangi bir stajınızı öncesinde ve/veya sonrasında olmak üzere
                                        birleştirebilirsiniz. Stajı işyeri eğitimi sonrasında aynı firmada yapacaksanız stajınıza
                                        sınavlardan sonra başlamanız gerekir. Her iki stajı da işyeri eğitimi yapacağınız
                                        firmada yapacaksanız staj konularının aynı olmaması gerekmektedir.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingten">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseten" aria-expanded="true" aria-controls="collapseten">Dönem içinde staj yapabilir miyim? <span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapseten" aria-labelledby="headingten" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Belirtilen dönemde ders almıyorsanız veya aldığınız derslerde devam zorunluluğunuz
                                        yok ise yapabilirsiniz. Ders almanız durumunda devam zorunluluğunuz olmasa bile
                                        stajınızın herhangi sınav dönemine denk gelmemesi ve stajın bölünmemesi
                                        gerekmektedir.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingeleven">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseeleven" aria-expanded="true" aria-controls="collapseeleven">Bahar döneminde sadece 1 dersim var ve sadece bir gün okula geliyorum.Diğer dört günde staj yapabilir miyim?<span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapseeleven" aria-labelledby="headingeleven" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Hayır yapamazsınız.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingtwen">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsetwen" aria-expanded="true" aria-controls="collapsetwen">Çift anadal öğrencisiyim. Okuduğum iki bölüm için tek staj yapabilir miyim?<span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapsetwen" aria-labelledby="headingtwen" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Staj yaptığınız yerde çalışma alanlarınız bölümümüzün Staj İlkeleri dokümanında
                                        belirtilen 1. veya 2. staj konularıyla örtüşüyorsa bu stajınız geçerli sayılır.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingTherten">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTherten" aria-expanded="true" aria-controls="collapseTherten">Staja en erken ne zaman başvurabilirim?  <span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapseTherten" aria-labelledby="headingTherten" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        En erken staj başlama tarihinden 1 ay önce başvurmalısınız.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingfourten">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefourten" aria-expanded="true" aria-controls="collapsefourten">Staja en geç ne zaman başvurabilirim? <span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapsefourten" aria-labelledby="headingfourten" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Stajınız onaylandığında staja başlamanız için en az 10 gün süre olmalıdır. Ayrıca 10
                                        gün önce staj formunun çıktısını alarak firmaya onaylatmanız ve sizin imzalamanız
                                        daha sonra taratarak OBS’de staj dokümanlarına yüklemeniz gerekmektedir. Bu
                                        işlemin geciktirilmesi durumunda sigorta işlemleri gecikebilir ve staj tarihini
                                        değiştirmeniz gerekebilir.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingfiveten">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefiveten" aria-expanded="true" aria-controls="collapsefiveten"> Mezun durumundayım, stajım ne zaman değerlendirilir?<span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapsefiveten" aria-labelledby="headingfiveten" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Bu durumu stajı değerlendiren öğretim elemanına iletmeniz gerekmektedir. Bu
                                        durumda stajınız 7 gün içerisinde değerlendirilecektir.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingsixten">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsesixten" aria-expanded="true" aria-controls="collapsesixten">Firma işe giriş bildirgesi istemektedir. Bu belgeyi nereden alabilirim? <span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapsesixten" aria-labelledby="headingsixten" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        İşe giriş bildirgesi turkiye.gov.tr e-Devlet internet sitesinden alınabilmektedir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Destek Buttonu-->
                    <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <i class="lni-emoji-sad"></i>
                        <p class="mb-0 px-2">Cevap Bulamadınız Mı?</p>
                        <a href="#"> İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-+QaG4eX9yUwJFgU2Lh2kWZf2w+qT7OvX/3cLzvTzZ2R+O8wK+3y6jx7lJZ2cZ1fG"
            crossorigin="anonymous"></script>

    <script>
        var accordion = new bootstrap.Collapse(document.getElementById('faqAccordion'), {
            toggle: false
        });
    </script>
    <!-- JavaScript (jQuery is required for Bootstrap) -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>



